input {
    width: 100%;
    padding: 0.8rem;
    margin: 0;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ffffff;

    transition: 300ms ease;

    @media (prefers-color-scheme: dark) {
        background-color: #424242;
        border-color: #424242;
        color: #fff;
    }
}

input.lg {
    font-size: 1.2rem;
}

input.lg:hover {
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;

    @media (prefers-color-scheme: dark) {
        background-color: #616161;
        border-color: #616161;
    }
}

input.lg:focus {
    outline: none;
    border-bottom: 1px solid #28b5f4;
}

input.lg.error {
    border-bottom: 1px solid #e53635;
}

input.form {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    margin: 0;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;

    transition: 300ms ease;

    @media (prefers-color-scheme: dark) {
        background-color: #424242;
        border-color: #616161;
        color: #fff;
    }
}

input.form:hover {
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;

    @media (prefers-color-scheme: dark) {
        background-color: #616161;
        border-color: #757575;
        color: #fff;
    }
}

input.form:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #28b5f4;
}

input.form:disabled {
    @media (prefers-color-scheme: dark) {
        background-color: #757575;
        border-color: #757575;
        color: #fff;
    }
}

input.form.error {
    border-bottom: 1px solid #e53635;
}