.text-sm {
    font-size: 12px;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.text-lg {
    font-size: 20px;
}

.text-xl {
    font-size: 24px;
}

/* Slightly larger font for low-dpi displays for less aliasing */
@media only screen and (-webkit-max-device-pixel-ratio: 2),
only screen and (max-resolution: 2dppx) {
    .text-sm {
        font-size: 13px;
    }
}
